# Don't track conctent of this folders:
getopt_exercises/
LIBBUF/
TEST_PARAMETERS/
zajecia/
SOCKETS_OLD/
PROCESSES_OLD/
FILE\ IO/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.out
*.swp
*.so
*.swn
*.swk
*.swo
*.c.swo
